<h1>Here's what FAs are recommending</h1>

<strong><h2>What you should try:</h2></strong>
    <% @recommendations.each do |recommendation| %>
      <li>
        <%= recommendation.try %><br />
      </li>
    <% end %>
    <br>
    <strong><h2>What you should avoid:</h2></strong>
    <% @recommendations.each do |recommendation| %>
      <li>
        <%= recommendation.avoid %><br />
      </li>
    <% end %>  