<h1>Restaurants crew members have added:</h1>

<% unless @restaurants.blank? %>
   <h2> 
   <% @restaurants.each do |restaurant| %>
      <li>
      <%= link_to restaurant.name, restaurant %>
      </li>
      <% end %>
   </h2>
    <br>
    <%= link_to "Add a New Restaurant", new_restaurant_path %>
   <% else %>
   <%= link_to "Be the first to add a restaurant!", new_restaurant_path %>
   <% end %>
